#----------------------------------
# GitHub Actions Part 1 - Basics
#
# Copyright by Anton Og 2020
#----------------------------------

name: My-GitHubActions-Basics
env :
  APPLICATION_NAME     : "MyFlask"
  DEPLOY_PACKAGE_NAME  : "flask-deploy-ver-${{github.sha}}"
on:
  push:
    branches: [ master ]

jobs:
  my_testing:
   runs-on: ubuntu-latest
   
   steps:
     - name: Print Hello Message in Testing
       run : echo "Hello World from Testing job"
       
     - name: Execute few commands
       run : |
         echo "Hello message1"
         echo "Hello message2"
         echo "Application name: ${{ env.APPLICATION_NAME }}" 
         
     - name: List current folder
       run : ls -la
     
     - name: Git clone my repo
       run : actions/chekout@v1
 
     - name: List current folder
       run : ls -la
     
  my_deploy :
   runs-on: ubuntu-latest
   needs: [my_testing]
   
   steps:
     - name: Print Hello Message in Deploy
       run : echo "Hello World from Deploy job"
       
     - name: Printing Deployment package
       run : echo "Deploy package name is ${{ env.DEPLOY_PACKAGE_NAME }}"
       
     - name: Lets test some packeges if they are here 1 
       run : aws --version
       
     - name: Lets test some packeges if they are here 2 
       run : zip --version
